.lds-ring div {
    box-sizing: border-box;
    top: -80px;
    left: 106px;
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    margin: 22px;
    border: 3px solid #46C4FF;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #1696EC transparent transparent transparent;
    transition: opacity 0.3s ease-in-out;

  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }

  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }

  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
  .lds-ring-pickture div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    /* margin: 22px; */
    margin-top: -8px;
    margin-left: -8px;
    border: 2px solid #46C4FF;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #1696EC transparent transparent transparent;

  }
  .lds-ring-pickture div:nth-child(1) {
    animation-delay: -0.45s;
  }

  .lds-ring-pickture div:nth-child(2) {
    animation-delay: -0.3s;
  }

  .lds-ring-pickture div:nth-child(3) {
    animation-delay: -0.15s;
  }